doctype html
html
    head
        style
            include style.css
        body
            div
                block content
            div.email_body
                | Thanks for attention
                br
                | See you soon
                br
                a(href="https://mykhailokibkalo.github.io/") Please, see at my React project